<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormServerDGA.Properties.Settings.dbServerDGAConnectionString"
            connectionString="Data Source=134.249.058.141; User ID=Eugene; Password=1TStep3209;&#xA;           Initial Catalog=Transformers1;"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormServerDGA.Properties.Settings.Transformers1ConnectionString"
            connectionString="Data Source=134.249.58.141;Initial Catalog=Transformers1;User ID=Eugene;Password=1TStep3209"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>